body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    margin: 0;
    padding: 0
}

* {
    font-family: "Microsoft YaHei", "Arial";
    font-size: 10px;
}

body {
    background: #fff;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #000;
    text-decoration: none
}

a:hover {
    text-decoration: none;
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input:focus, textarea:focus {
    outline: none;
}

.clear {
    font-size: 0;
    clear: both;
    content: '';
    height: 0;
    width: 0;
    line-height: 0;
}

.base {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    position:relative;
}

input {
    border: none;
    color: #ccc;
}
input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}

.jq_hide {
    display: none !important;
}


@media only screen and (max-width: 450px) {
     .i-c-a .i-g-right {
        width: 75%;
    }
}@media only screen and (max-width: 400px) {
    .i-c-a .i-g-right {
        width: 70%;
    }
}

.base-background{
    display: inline-block;
    background: url("../image/index@3x.png") no-repeat;
}

.base-index{
    display: inline-block;
    width: 41px;
    height: 41px;
    float: left;
}

.index_girl{
    background-position: -6px -2px;
}

.index_bei{
    background-position: -96px -3px;
}

.index_wan{
    background-position:-50px -3px;;
}

.index_gexing{
    background-position: -6px -47px;;
}

.index_boy{
    background-position: -97px -47px;
}

.index_mian{
    background-position: -51px -47px;
}

/*!*头部*!，排行，完本，...*/
.p-h-back{
    position: relative;
    padding: 0 10px;
    text-align: center;
    background: #ff7b1a;
    height: 40px;
    line-height: 40px;
}

.p-h-ile{
    float: left;
    margin-top: 12px;
}

.p-h-iri{
    float: right;
    margin-top: 10px;
}

.p-h-back.ph-nansheng{
    background: #1299e6;
}

.p-h-back.ph-nvsheng{
    background: #f22d6a;
}

.p-h-back span{
    color: #f3f3f3;
    font-size: 16px;
}

.p-h-caidan {
    float: right;
    margin-top: 12px;
}
/*男女生选中效果*/
.p-lh-li.p-l-liclick,.wn-li.p-l-liclick{
    color: #ff7b1a;
    border-bottom: none;
    border-right: #cbcbcb;
    box-shadow: -2px 4px 10px rgba(204, 204, 204, 0.5) inset, 4px 3px 2px rgba(204, 204, 204, 0.5) inset;
}

.f-bold{
    font-size: 15px;
    color: #000;
    margin-right: 19px;
    float: left;

}

.loging{
    padding: 20px;
}
/*隐藏滚动条*/

/*男女生背景*/
.nanbackground{
    background: url("../image/fenbeijing/nansheng.jpg") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.nvbackground{
    background-image: url("../image/fenbeijing/nvsheng.jpg");
    -webkit-background-size: contain;
    background-size: contain;
}

.s-content{
    width: 100%;
    padding-left: 8px;
    background: #ffffff;
    padding-bottom: 12px;
    margin-bottom: 6px;
}