.pn-content{
    padding: 13px 10px 0 10px;
}

.pn-box{
    width: 50%;
    float: left;
    margin-bottom: 13px;
    text-align: center;
}

.pn-box>a{
    display: inline-block;
}

.pn-bookimg{
    float: left;
}
.pn-font{
    float: left;
    padding: 13px 5px;
    height: 74px;
}

.pn-fonta{
    font-size: 13px;
}

.pn-fontb{
    margin-top: 30px;
    color: #888;
}
