.xh-shaixuan{
    float: right;
    margin-top: 11px;
    margin-right: 15px;
}


.xhc-shaixuan{
    position: absolute;
    top: 40px;
    width: 100%;
    left:0;
    background: #fff;
    padding: 0 10px;
    padding-bottom: 10px;
}

.xhc-top{
    padding-top: 11px;
}

.xhc-li{
    float: left;
    margin-right: 19px;
    margin-top: 3px;
    font-size: 13px;
    color: #888;
}

.xhc-li.xhc-xuanzhong{
    color: #ff7b1a;
}