.l-title {
    background: #ff7b1a;
    height: 40px;
    line-height: 40px;
}

.l-title-box {
    width: 94%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.l-title-box img {
    float: left;
    margin-top: 12px;
}

.l-title-box span {
    font-size: 15px;
}

.l-regist {
    float: right;
}

.l-content {
    padding-top: 55px;
    width: 79%;
    margin: 0 auto;
}


.l-login-button {
    text-align: center;
    background: #ff7b1a;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 6px;
    color: white;
    height: 30px;
    line-height: 30px;
    margin-top: 37px;
    clear: both;
}

.l-con-input {
    height: 31px;
    border: 1px solid #888;
    padding-left: 6px;
    font-size: 13px;
    margin: 15px auto 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.l-f-password {
    display: inline-block;
    float: right;
    margin-top: 4px;
    text-decoration: underline;
    color: #576b95;
}

/*regist*/

.l-f-regist {
    display: inline-block;
    margin-top: 12px;
    text-decoration: underline;
    color: #888;
}

.l-login-regist {
    margin-top: 20px;
}

.l-xieyi {
    color: #888;
    margin-top: 13px;
    height: 16px;
    line-height: 16px;
}

.l-x-box {
    display: inline-block;
    height: 13px;
    width: 13px;
    background: #e8e8e8;
    margin-bottom: -2px;
    border: 1px solid #bdb7b7;
}

.l-x-box.select{
    background-image: url("../../image/dui.png");
    background-size: 13px 13px;
}

.l-xieyi a {
    color: #576b95;
    text-decoration: underline;
}

.l-con-spans{
    display: inline-block;
    width: 90px;
    height: 31px;
    line-height: 30px;
    border: 1px solid #888;
    border-left: none;
    box-sizing: border-box;
    text-align: center;
    color: #353535;
    text-decoration: underline;
}

.l-con-input.l-co-yanzheng{
}


.l-r-yan{
    font-size: 0;
}